<div class="row">
    <div class="col-6 offset-6">
        <input placeholder="filter movies" [formControl]="phraseControl" type="text" class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Year</th>
                    <th>Active</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movie of list | filter:phrase">
                    <td>{{ movie.id }}</td>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.category }}</td>
                    <td>{{ movie.year }}</td>
                    <td>{{ movie.active }}</td>
                    <td>{{ ( movie.year - 2000 ) | fibonacci }}</td>
                    <td>
                        <button (click)="onSave()" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
