<div class="row">
    <div class="col-6 offset-6">
        <input placeholder="filter movies" [formControl]="phraseControl" type="text" class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th *ngFor="let col of columns">
                        {{ col.title }}
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movie of list | filter:phrase">
                    <td *ngFor="let col of columns">
                        {{ movie[col.key] }}
                    </td>
                    <td>{{ ( movie.year - 2000 ) | fibonacci }}</td>
                    <td>
                        <button (click)="onSave(movie)" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
