<div class="row">
    <div class="col-6 offset-3">
        <form (ngSubmit)="onCreate()">
            <div class="form-group">
                <label>Title</label>
                <input class="form-control" name="title" [(ngModel)]="movie.title" type="text">
            </div>
            <div class="form-group">
                <label>Year</label>
                <input class="form-control" name="year" [(ngModel)]="movie.year" type="number">
            </div>
            <div class="form-group">
                <label>Category</label>
                <input class="form-control" name="category" [(ngModel)]="movie.category" type="text">
            </div>
            <div class="form-group">
                <label>Active</label>
                <input name="active" [(ngModel)]="movie.active" type="checkbox">
            </div>

            <button type="submit" class="btn btn-primary mt-3">
                <i class="fa fa-save"></i> create
            </button>
        </form>
    </div>
</div>